<div class="footerContainer">
    <div class="footerTopContainer">
        <div class="footerLeftSideContainer">
            <div class="navigateLabel">Navigate</div>
            <a class='createEditDeleteBtn' href="/inventory/categories">Categories</a>
            <a class='createEditDeleteBtn' href="/inventory/items">Items</a>
            <a class='createEditDeleteBtn' href="/inventory/brands">Brands</a>
        </div>
    </div>
    <div class="footerBottomContainer">
        Created by Jonathan Andrade Valenzuela
    </div>
</div>