<div class="linksContainer">
    <a class="navLinkButton" href="/inventory/categories">Categories</a>
    <a class="navLinkButton" href="/inventory/items">All Items</a>
    <a class="navLinkButton" href="/inventory/brands">Brands</a>
</div>