<div class="linksContainer">
    <div><a href="/inventory/categories">Categories</a></div>
    <div><a href="/inventory/items">All Items</a></div>
    <div><a href="/inventory/brands">Brands</a></div>
</div>