@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Hind Siliguri', sans-serif;
}

.headerContainer {
  width: 100%;
  height: 5.5rem;
  background-color: #0B0C10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.mainBody {
  width: 100vw;
  height: 100vh;
}

.mainContentContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #272727;
}

.linksContainer {
  width: 100vw;
  height: auto;
  min-height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #191919;
}

.navLinkButton {
  color: white;
  text-decoration: none;
  width: 8rem;
  text-align: center;
}

.navLinkButton:hover {
  color: white;
  text-decoration: underline;
}

.createEditDeleteBtn {
  color: white;
  text-decoration: none;
}

.createEditDeleteBtn:hover {
  color: white;
  text-decoration: underline;
}